*{margin: 0; padding: 0px; box-sizing: border-box;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backgroung: url("bg.jpg") no-repeat center;
    background-size: cover;
}
body::before{
    content:
}